@{
    ViewBag.Title = "App";
}
<head>
    <meta name="description" content="Simple photohosting">
    <title>Glinterion</title>

    <link rel="stylesheet" href="~/.bin/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/App/css/profile.css">
    <link rel="stylesheet" href="~/App/css/magnific-popup.css">
    <!-- Star-rating plugin -->
    <link href="~/.bin/bower_components/bootstrap-star-rating/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />

    <script src="~/.bin/bower_components/jquery/dist/jquery.js"></script>

    <script src="~/.bin/bower_components/angular/angular.js"></script>
    <script src="~/.bin/bower_components/angular-resource/angular-resource.js"></script>
    <script src="~/.bin/bower_components/angular-route/angular-route.js"></script>
    <script src="~/.bin/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="~/.bin/bower_components/chartjs/Chart.js"></script>


    <!-- Filters -->
    <script src="~/App/js/filters/filtersModule.js"></script>
    <script src="~/App/js/filters/rangeFilter.js"></script>

    <!-- Controllers -->
    <script src="~/App/js/controllers/controllersModule.js"></script>
    <script src="~/App/js/controllers/HomeController.js"></script>
    <script src="~/App/js/controllers/ProfileController.js"></script>
    <script src="~/App/js/controllers/AccountController.js"></script>

    <!-- Services -->
    <script src="~/App/js/services/servicesModule.js"></script>
    <script src="~/App/js/services/ObjectDeliveryService.js"></script>
    <script src="~/App/js/services/PhotosPopupService.js"></script>
    <script src="~/App/js/services/CouponCheckingService.js"></script>
    <script src="~/App/js/services/SharingService.js"></script>
    <script src="~/App/js/services/ColorConverterService.js"></script>
    <script src="~/App/js/services/ChartService.js"></script>

    <!-- Directives -->
    <script src="~/App/js/directives/directivesModule.js"></script>
    <script src="~/App/js/directives/ngThumb.js"></script>
    <script src="~/App/js/directives/fileModelDirective.js"></script>

    <script src="~/App/js/main.js"></script>
</head>
<body ng-app="glinterion">
    
    <div class="container">
        <div ng-view></div>
    </div>

</body>

