<div ng-controller="ProfileController as profile">
	<div class="profile-header">
		<div class="avatar">
			<img ng-src="{{profile.user.AvatarSrc}}">
		</div>
		<div class="user--info">
			<div class="user--login">
				<div class="user--login">
					Hello, {{profile.user.login}}
				</div>
			</div>
			<div class="user--account">
				You have <span class="account-type">{{profile.user.accountType}}</span> account
			</div>
			<div class="user--album-details">
				Photos uploaded: {{profile.user.photos.length}}
				Size: {{profile.totalSize}}
			</div>
		</div>
	</div>
	<!-- TODO: make 3x3 table using service with default 3x3 but can be configured -->
	<div class="gallery">
		<div ng-repeat="photo in profile.user.photos" class="gallery-photo--wrapper">
			<a ng-href="{{photo.SrcOriginal}}" class="gallery-photo-link" ng-attr-title="{{photo.Description}}">
				<img ng-src="{{photo.SrcPreview}}" class="gallery-photo" ng-attr-title="{{photo.Description}}">
			</a>	
		</div>
	</div>
<script src="js/jquery.magnific-popup.js"></script> 
</div>