.avatar {
	width: 200px;
	height: 200px;
	background-color: red;
	display: inline-block;
	float: left;
}

.user--info {
	display: inline-block;
	margin-left: 50px;
	font-size: 20px;
}

/*.account-type {
	color: green;
}
*/
.profile-header {
	display: table;
}

.gallery {
	margin-top: 30px;
	display: table;
	text-align: center;
	margin: auto;
}

.gallery-photo--wrapper {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px;
}

.gallery-photo {
	width: 100px;
	height: 100px;
}

.item-status {
	width: 50px;
}
