<div ng-controller="ProfileController as profile">
	<div class="profile-header">
<!-- 		<div class="avatar">
			<img ng-src="{{profile.user.AvatarSrc}}">
			<input id="avatar-input" type="file" multiple enctype="multipart/form-data"/>
			<button type="button" class="btn btn_submit" ng-show="{{avatar-input}}"></button>
		</div>
 -->	<div class="user--info">
			<div class="user--login">
				Hello, {{profile.user.login}}
			</div>
			</br>
			<div class="user--account">
				You have <span class="account-type" ng-style="{'color': profile.user.account.color}">{{profile.user.account.Name}}</span> account
				<a href="#/account"><button type="btn btn_submit">Enter coupon</button></a>
			</div>
			</br>
			<div class="user--album-details">
				<div class="user-album-uploaded">
					Photos uploaded: {{profile.user.gallery.photosNumber}}
				</div>
				<div class="user-album-totalsize">
					Size: {{profile.user.gallery.totalSize}} / {{profile.user.account.MaxSize}} MB
				</div>
				<canvas id="size" width="100" height="100"></canvas>
			</div>
			</br>
			<input type="file" nv-file-select uploader="profile.uploader" multiple enctype="multipart/form-data" /><br/>
		</div>
		<div class="add-photo-section" ng-show="profile.uploader.queue.length">
			<!-- <input type="file" nv-file-select uploader="profile.uploader" multiple/><br/> -->
			<table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="profile.uploader.isHTML5">Size</th>
                        <!-- <th ng-show="uploader.isHTML5">Progress</th> -->
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in profile.uploader.queue">
                        <td class="item-photo">
                            <strong>{{ item.file.name }}</strong>
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                            <!--auto width-->
                            <div ng-show="profile.uploader.isHTML5" ng-thumb="{ file: item._file, height: 100}"></div>
                            <!-- <label ng-attr-for="{{item.$index + 'description'}}" class="sr-only">Description</label> -->
                            <input type="text" ng-model="item.description" ng-attr-id="{{item.$index + 'description'}}" class="form-control"
                            	placeholder="Description">
                            </br>
                            <input type="number" ng-model="item.rating" 
                            	placeholder="Rating" max="5" min="0" step="1">
                        </td>
                        <td ng-show="profile.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td class="text-center item-status">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
	                        <span><b>{{item.errorMessage}}</b></span>                            
                        </td>
                        <td nowrap>

                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-success btn-s" ng-click="profile.uploader.uploadAll()" ng-disabled="!profile.uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <!-- <button type="button" class="btn btn-warning btn-s" ng-click="profile.uploader.cancelAll()" ng-disabled="!profile.uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button> -->
                <button type="button" class="btn btn-danger btn-s" ng-click="profile.uploader.clearQueue()">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
			<!-- <ul>
	            <li ng-repeat="item in profile.uploader.queue">
	                Name: <span ng-bind="item.file.name"></span><br/>
	                <button ng-click="item.upload()">upload</button>
	            </li>
	        </ul> -->
			<!-- <button type="btn btn_submit" ng-click="profile.onFileSelect($files)">Upload</button> -->
		</div>
	</div>
	<!-- TODO: make 3x3 table using service with default 3x3 but can be configured -->
	<div class="gallery" ng-show="profile.uploader.queue.length">
		<div ng-repeat="photo in profile.user.gallery.photos" class="gallery-photo--wrapper">
			<a ng-href="{{photo.SrcOriginal}}" class="gallery-photo-link" ng-attr-title="{{photo.Description}}">
				<img ng-src="{{photo.SrcPreview}}" class="gallery-photo" ng-attr-title="{{photo.Description}}">
			</a>	
		</div>
		<nav>
			<ul class="pagination" ng-init="profile.user.gallery.photosPage = 1;">
				<li>
					<a href aria-label="Previous" ng-click="profile.user.gallery.photosPage = 
					(profile.user.gallery.photosPage > 1 ? profile.user.gallery.photosPage - 1 : profile.user.gallery.photosPage); 
						profile.selectPage()">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li data-ng-repeat="page in [] | range:profile.user.gallery.pages" ng-class="{ 'active' : profile.user.gallery.photosPage == page}">
					<a href ng-click="profile.user.gallery.photosPage = page; profile.selectPage(page)">
						{{page}}
					</a>
				</li>
				<li>
					<a href aria-label="Next"  ng-click="profile.user.gallery.photosPage = 
					(profile.user.gallery.photosPage < profile.user.gallery.pages ? profile.user.gallery.photosPage + 1 : profile.user.gallery.photosPage);
						profile.selectPage()">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="admin-handling" ng-show="profile.user.role.Name == 'admin' || profile.user.role.Name == 'moderator'">
		
		<div>
			<button type="button" class="btn btn-info" ng-click="profile.getUsers()">Users</button>
		</div>
		</br>
		<div class="list-group"> 
			<div class="user--info list-group-item" ng-click="" ng-repeat="user in profile.users" style="display: block">
				<div class="user--login list-group-item-heading">
					Login: {{user.login}}
				</div>
				<div>
					<div class="user--account">
						<span class="account-type" ng-style="{'color': user.account.color}">{{user.account.Name}}</span> account
					</div>
					<div class="user--first-name">
						First name: {{user.firstName}}
					</div>
					<div class="user--last-name">
						Last name: {{user.lastName}}
					</div>
					<div class="user--role">
						Role: <span class="badge">{{user.role.Name}}</span>
					</div>
					</br>
					<div class="user--album-details">
						
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="/App/js/jquery.magnific-popup.js"></script> 
<!-- Star-rating plugin -->
<script src="/.bin/bower_components/bootstrap-star-rating/js/star-rating.min.js" type="text/javascript"></script>
<script src="/App/js/profile.js"></script>
</div>