@if (Request.IsAuthenticated)
{
    
    var link = "/home/app#/profile/";
	<div class="navbar-right">
		<ul class="nav navbar-nav navbar-right">
		    <li>
		        <a href=@link>@HttpContext.Current.User.Identity.Name</a>
		    </li>
			<li>@Html.ActionLink("Logout", "Logout", "Account")</li>
		</ul>
	</div>
}
else
{
    <div class="navbar-right collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("Login", "Login", "Account")
            </li>
            <li>
                @Html.ActionLink("Register", "Register", "Account")
            </li>
        </ul>
    </div>
}
