
.star-rating > .star-wrapper {
	text-align: right;
	height: 100%;
}

.star-rating .star-item {
	display: inline-block;
	background: url("http://i.rw.gs/s/oxygen1.l.png");
	background-size: cover ;
	background-repeat: no-repeat;
	background-position: 0px;
	cursor: pointer;
	height: 30px;
	width: 30px;
}

.star-rating .star-active {
	background-position: -60px;
}

.star-rating .star-selected {
	background-position: -90px;
}

.star-rating .star-half-selected {
	background-position: -120px;
}

.star-rating .star-disabled {
	background-position: 0px;
	cursor: default;
}